.lowerHeaderDiv {
  max-width: 100%;
}

.lowerHead {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  margin-top: 20px;
  font-size: 50px;
  color: #f5f5f5;
}

.lowerText {
  text-align: center;
  margin-top: 20px;
  color: #f5f5f5;
}

.lowerGoal {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -175px;
  color: #f5f5f5;
}

.MainButton {
  min-width: 20%;
  margin: 2.5%;
  color: whitesmoke;
}
